#right-main-content{
	position: relative;
}
#right-main-content ul{
	position: absolute;
	top: 20px;
	right: 1%;
}
#right-main-content ul li{
	display: inline-block;
}
#right-main-content ul li:first-child{
	margin-right: 10px;
}
#right-main-content ul li:last-child{
	margin-left: 10px;
}
#right-main-content ul li div{
    padding: 5px 10px;
    border-radius: 4px;
    background: rgb(71,118,199);
    color: rgb(255,255,255);
    cursor: pointer;
}
#point-grid,
#traffic-grid{
	display: none;
}
/* w2ui */
#right-content #myGrid{
	width: 98%;
	height: 70%;
	margin: 80px auto 0 auto;
}
.custom-grid{
    border: 0 none;
}
.w2ui-grid{
	height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
}
.w2ui-grid-body table .w2ui-head{
    border: 0 none;
}
.w2ui-grid .w2ui-grid-body table td{
    border: 0 none;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns, .w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns{
	box-shadow: none;
}
.w2ui-grid .w2ui-grid-body table .w2ui-head{
	height: 50px;
	border: 0 none;
	background: rgb(240,240,240);
}
.w2ui-grid .w2ui-grid-body table .w2ui-head > div{
	font-size: 14px;
	text-align: center;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd{
	height: 50px;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even, .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even{
	background: rgb(247,248,250);
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div{
	font-size: 14px;
	padding: 0;
	white-space: normal;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > .warnning{
	background: rgb(244,157,20);
	color: #fff;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span.uptext{
	font-size: 16px;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span.downtext{
	font-size: 12px;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head{
	border-right: 1px solid rgba(0,0,0,0.1);
}
.w2ui-grid .w2ui-grid-body table .w2ui-head{
	background-color: rgb(247,248,250);
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even{
	background-color: rgb(255,255,255);
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-record-hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-record-hover{
	background-color: rgb(255,255,255);
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data{
	border-top: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}
#tb_Manage_toolbar_item_w2ui-search{
	display: none;
}
.show-customer-info{
	color: rgb(71,118,199);
	text-decoration: underline;
	cursor: pointer;
}
.delete-btn{
	font-size: 14px;
	color: rgb(255,0,0);
	cursor: pointer;
}
button.confrim-btn{
	background-color: rgb(255,0,0);
	color: rgb(255,255,255);
	margin-right: 10px;
}
button.cancel-btn{
	background-color: rgb(71,118,199);
	color: rgb(255,255,255);
}
/* define popup */
.define-form-inner{display: none;}
.w2ui-popup .w2ui-popup-body{
	padding: 20px 30px;
}
.input-wrap,
.check-wrap{
	margin-top: 20px;
	padding: 10px 0;
	font-size: 14px;
}
.min-value{
	width: 83px;
}
.check-title{
	padding: 10px 0;
}
.check-box{
	border: 1px solid #333;
	border-radius: 6px;
	padding: 10px;
}
.btn-wrap{
	width: 156px;
	margin: 20px auto 0 auto;
}
.confirm-btn,
.cancel-btn{
	display: inline-block;
	padding: 5px 20px;
	background-color: rgb(71,118,199);
	border: 1px solid rgb(71,118,199);
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
}
.cancel-btn{
	margin-left: 10px;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
}
.check-item{
	display: inline-block;
	padding: 5px;
}
.monthly-form-inner{
	display: none;
}
.info-item{
	display: inline-block;
	width: 48%;
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.info-item input{
	height: 40px;
	line-height: 40px;
	text-indent: 5px;
}
#from{
	display: none;
}
/*分页*/
#pagination{
	position: relative;
	height: 80px;
}
#pagination ul{
	top: 30px;
}
#pagination.light-theme .current{
	background: rgb(71,118,199);
	border-color: rgb(71,118,199);
}
.page-size{
	position: absolute;
	width: 200px;
	height: 30px;
	line-height: 30px;
	right: 25px;
	text-align: right;
}
.page-size span{
	border: 0 none;
	padding: 0;
	margin: 0;
	background: none;
	border: 0 none;
	box-shadow: none;
	cursor: normal;
}
