#right-main-content{
	position: relative;
}
#right-main-content ul{
	position: absolute;
	top: 20px;
	right: 1%;
}
#right-main-content ul li{
	display: inline-block;
}
#right-main-content ul li:first-child{
	margin-right: 10px;
}
#right-main-content ul li div{
    padding: 5px 10px;
    border-radius: 4px;
    background: rgb(71,118,199);
    color: rgb(255,255,255);
    cursor: pointer;
}
#point-grid,
#traffic-grid{
	display: none;
}
/* w2ui */
#right-content #myGrid{
	width: 98%;
	height: 80%;
	margin: 80px auto 0 auto;
}
.custom-grid{
    border: 0 none;
}
.w2ui-grid{
	height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
}
.w2ui-grid-body table .w2ui-head{
    border: 0 none;
}
.w2ui-grid .w2ui-grid-body table td{
    border: 0 none;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns, .w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns{
	box-shadow: none;
}
.w2ui-grid .w2ui-grid-body table .w2ui-head{
	height: 50px;
	border: 0 none;
	background: rgb(240,240,240);
}
.w2ui-grid .w2ui-grid-body table .w2ui-head > div{
	font-size: 14px;
	text-align: center;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd{
	height: 50px;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even, .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even{
	background: rgb(247,248,250);
}
.columns-title{
	display: inline-block;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
	font-size: 14px;
	color: #000;
}
.point-edit-btn{
	display: inline-block;
    width: 30%;
    font-size: 14px;
    cursor: pointer;
    color: rgb(71,118,199);
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div{
	font-size: 14px;
	padding: 0;
	white-space: normal;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > .warnning{
	background: rgb(244,157,20);
	color: #fff;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span.uptext{
	font-size: 16px;
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div > div > span.downtext{
	font-size: 12px;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head{
	border-right: 1px solid rgba(0,0,0,0.1);
}
.w2ui-grid .w2ui-grid-body table .w2ui-head{
	background-color: rgb(247,248,250);
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even{
	background-color: rgb(255,255,255);
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-record-hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-record-hover{
	background-color: rgb(255,255,255);
}
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data{
	border-top: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}
.save-btn {
    color: rgb(71,118,199);
}
/* w2ui popup */
#inner-poin{
	margin-top: 30px;
}

/* 红绿灯编辑样式 */
#w2ui-popup .yellow-wrap,
#w2ui-popup .red-green{
	width: 100%;
	height: 100px;
}
#w2ui-popup .yellow-wrap{
	margin-top: 30px;
}
#w2ui-popup .opt-title{
	font-size: 18px;
	padding: 10px 0 10px 20px;
}
#w2ui-popup .yellow-light li{
	display: inline-block;
	width: 48%;
	padding-left: 20px;
}
#w2ui-popup .red-green-light li{
	display: inline-block;
	width: 48%;
}
#w2ui-popup .red-green-light li label{
	margin-left: 20px;
}
#w2ui-popup .red-green-light li input{
	padding: 8px;
	border-radius: 3px;
	height: 24px;
	line-height: 24px;
	margin-left: 20px;
	text-indent: 5px;
}
#w2ui-popup .btn-wrap{
	width: 220px;
	margin: 30px auto 0 auto;
}
#w2ui-popup .btn-confirm,
#w2ui-popup .btn-cancel{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
	background-color: rgb(71,118,199);
	color: rgb(255,255,255);
}
#w2ui-popup .btn-cancel{
	margin-left: 10px;
	background-color: rgb(255,255,255);
	color: #333;
	border: 1px solid #333;
}