.w2ui-tabs{
	background-color: #fff;
	padding: 0;
}
.w2ui-tabs table {
    border-bottom: 0;
    padding: 0;
}
.w2ui-tabs .w2ui-tab{
    padding: 0 28px;
    color: #979797;
    margin: 0;
    margin-right: 40px;
    float: left;
    position: relative;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px;
    border: 0;
}
.w2ui-tabs .w2ui-tab.active {
    color: #3c3c3c;
    background-color: #ffffff;
    border: 0;
}
.w2ui-tabs .w2ui-tab.active:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: #4776c7;
    border-radius: 4px 4px 0 0;
}
#tabs_tabs_right{
	display: none;
}
